html {
  background: #f7ab9b;
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img{
    display: block;
}

body {
    color: black;
    font-size: 16px;
}


@media only screen and (min-width: 910px){
    .nav-list{
        display: flex;
        padding: 0 1em;
    }
    .backnext{
        width: 12.5%;
        text-align: left;
        border-left: 1px solid black;
        padding-left: 1em;
        margin: 1em;
        margin-right: 0;
        margin-left: 0;
    }
    .backnext:hover{
        border-color: #da0505;
    }
    .backnext p{
        line-height: 1.3em;
    }
    .backgd{
        width: 25%;
        text-align: right;
        margin: 1em 0 1em 0em;
    }
    .empty{
        width: 50%;
        padding: 1em;
    }

    .navlonger{
        width: 15%;
    }
}

@media only screen and (max-width: 910px){
    .nav-list{
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .backnext{
        width: 50%;
        text-align: center;
        padding: 0.5em;
    }
    .backnext:first-child{
        border-right: 1px solid black;
    }
    .backnext p{
        line-height: 1.3em;
        padding-right: 1em;
    }
    .backgd{
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: row-reverse;
    }
    .backgd div{
        width: 50%;
        padding: 1em;
    }
    .backgd div:first-child{
        border-left: 1px solid black;
    }
    .empty{
        width: 100%;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding: 1em;
    }
}


.menu-bar{
    text-align: center;
    border-bottom: 1px solid black;
}


.menu-bar p:hover{
    text-shadow: 0 0 15px red;
    color: #da0505;
}


.menu-serif{
        font-family: serif;
        font-weight: 100;
        letter-spacing: -1.5pt;
        color: black;
        margin: auto;
        animation: color 10s alternate;
        -webkit-animation: color 10s alternate;
        line-height: 0.9em;
    }
@media only screen and (min-width: 910px){
    .menu-serif{font-size: 3.5vw;}
}
@media only screen and (max-width: 910px){
    .menu-serif{font-size: 3em;}
}


.menu-serif:hover{
    color: #da0505;
    text-shadow: 0 0 25px red;
}



ul{
    list-style-type: none;
}

a {
    color: black;
    text-decoration: none;
}

img{
    max-width: 100%;
}

p{
   font-size: 1em;
    /* font-size: 1.125vw; */
    font-family: sans-serif;
    line-height:1.3;
    margin-top: 0;
}

.body-serif{
    font-family: serif;
    font-size: 1.2em;
    font-style: italic;
}


h1{
    font-family: serif;
    font-weight: lighter;
    line-height: normal;
    margin-bottom: 15px;
}
    
h2 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 6em;
    font-weight: 100;
}

h3{
    font-family: sans-serif;
    font-weight: bolder;
    text-shadow: 0px 0px 80px;
}

.text{
    font-size: 12pt;
    color: black;
}

.flex-container {
  display: flex;
   justify-content: flex-start;
  flex-wrap: wrap;
}

.flex-container a{
    text-decoration: none;
}


/*MOBILE*/
@media only screen and (max-width: 910px){
    .menu{
        font-size: 12px;
        top: 0;
    }
    
    .menu-serif{
        font-size: 2.5em;
    }
    
    
    p{
        font-size: 1em;
    }
    
    .flex-container p{
        padding: 1.5em;
    }
    
    h1{
        margin-bottom: 5px;
        font-size: 1.2em;
    }
    .slideshow-container{
        width: 100%;
    }
/*    dont dispay when mobile*/
    .desktop{
        display: none;
    }
}
/*dont display when desktop*/
@media only screen and (min-width: 910px){
    .mobile{
        display: none;
    } 
}




.anistar{
    position: absolute;
    width: 100px;
    height: 100px;
}

.anistar:hover{
    animation-name: flip;
    animation-duration: .2s;
    -webkit-animation-name: flip;
    -webkit-animation-duration: .2s;
}

.rootate{
    animation-name: rootate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*ANIMATIONS*/
@keyframes rootate {
    0%   {transform: rotateY(0deg); transform:}
    100% {transform: rotateY(360deg);}
}

@-webkit-keyframes rootate {
    0%   {transform: rotateY(0deg); transform:}
    100% {transform: rotateY(360deg);}
}

@keyframes blinkin {
  0%{color: black}
  70%{color: black}
  80%{color: #da0505}
  90%{color: black;}
}

@-webkit-keyframes blinkin {
  0%{color: black}
  70%{color: black}
  80%{color: #da0505}
  90%{color: black;}
}

@keyframes flip {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(30deg); }
}

@-webkit-keyframes flip {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(30deg); }
}

@keyframes color {
  0%{color: black}
  50%{color: black}
  65%{color: #da0505}
  90%{color: black;}
}

@-webkit-keyframes color {
  0%{color: black}
  50%{color: black}
  65%{color: #da0505}
  90%{color: black;}
}




/*SLIDESHOW*/

.mySlides {display: none}
.mySlides img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
/*  max-width: 1300px;*/
  position: relative;
  margin: auto;
/*    width: 90%;*/
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 6px;
  margin-top: -22px;
  color: #da0505;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 2%;;
  border-radius: 3px 0 0 3px;
}

.prev {
    right: 96%;
}

/* On hover, add a black background color with a little bit see-through */
/*
.prev:hover, .next:hover {
    border: 1px dashed #da0505;
}
*/


/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 5px;
  width: 5px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 910px) {
  .prev, .next, {font-size: 11px}
    .dot{
      height: 5px;
      width: 5px;
      margin: 0 1px;
    }
}





/*MODAL*/
 /* Style the Image Used to Trigger the Modal */
.myImg {
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}