html {
  background: black;
  -webkit-font-smoothing: antialiased;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    box-sizing: border-box;
}

@media screen and (max-width: 450px){
    .desktop{
        display: none;
    }
}

@media screen and (min-width: 450px){
    .mobile{
        display: none;
    }
}
    
body {
    color: black;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    padding: 2em 2em 4em;
}

.menu{
    float: right;
    text-align: right;
}

a {
    color: aqua;
}

p, h3, h4, h5, h6 {
    color:black;
    font-weight: 600;
    text-align: center;
    font-family: serif;
}

h1{
    font-family: sans-serif;
    text-shadow: 0px 0px 20px;
}
    
h2 {
    font-family: 'Petit Formal Script', cursive;
    color: mediumspringgreen;
    text-shadow: 0px 0px 20px black;
    padding: none;
    margin: auto;
}

img{
    max-width: 95%;
}

.text{
    font-size: 20px;
    color: black;
    font-family: serif;
    }
    
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: none;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -210px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
    
.index{
    background: black;
    background-size:cover;
    background-position: top left;
    background-repeat: no-repeat;
    max-width: 100%;
    margin: auto;
}

.dot{
    background-color: red;
    margin: auto;
    height: 10px;
    width: 10px;
    border-radius: 100%;
    position: absolute;
    top: 330px;
    left: 550px;
    animation-name: dot;
    animation-duration: 1s;
    z-index: -1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes dot{
    0% {transform: scale(0,0)}
    100% {transform: scale(200,200)}
}
    
.welcome{
    width: 600px;
    height: 600px;
    text-align: center;
    border: 0px;
    box-shadow: 35px 20px 40px black;
    border-radius: 100%;
    position: absolute;
    bottom: 100px;
    left: 220px;
    padding-top: 6em;
    margin-left: 3em;
}

#gdthumb{
    display: inline-block;
    position: absolute;
    left: 130px;
    top: 500px;
    height: 230px;
    animation-name: rootate;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#gdclick{
    display: inline-block;
    position: absolute;
    left: 130px;
    top: 500px;
    height: 230px;
    width: 230px;
    border-radius: 100%;
}

#libbythumb{
    max-height: 400px;
    max-width: 400px;
    position: absolute;
    bottom: 300px;
    left: 900px;   
}

#libbyclick{
    height: 290px;
    width: 270px;
    position: relative;
    border-radius: 100%;
    position: absolute;
    bottom: 310px;
    left: 960px;
}

#apparelthmb{
    height: 90px;
    width: 90px;
    animation-duration: 4s;
    -webkit-animation-duration: 4s;
    position: absolute;
    left: 98px;
    top: 106px;
    animation-name: rootate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    -webkit-animation-name: rootate;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}

#apparelclick{
    height: 90px;
    width: 90px;
    position: relative;
    top: 70px;
    left: 70px;
}


@keyframes rootate {
    0%   {transform: rotateY(0deg); transform:}
    100% {transform: rotateY(360deg);}
}

@-webkit-keyframes rootate {
    0%   {transform: rotateY(0deg); transform:}
    100% {transform: rotateY(360deg);}
}

#m4rrs{
    font-size: 6em;
    color: red;
    margin-top: .4em;
    animation: blinkin 4s alternate;
}

@keyframes blinkin {
  0%{color: black}
  30%{color: black}
  45%{color: darkred}
  60%{color: black;}
}

@-webkit-keyframes blinkin {
  0%{color: black}
  30%{color: black}
  45%{color: darkred}
  60%{color: black;}
}

@-webkit-keyframes color {
  0%{color: black}
  60%{color: black}
  65%{color: darkslategray}
  70%{color: black;}
}

.anistar{
    width: 100px;
    height: 100px;
    position: absolute;
}

.anistar:hover{
    animation-name: flip;
    animation-duration: .2s;
    -webkit-animation-name: flip;
    -webkit-animation-duration: .2s;
}

@keyframes flip {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(30deg); }
}

@-webkit-keyframes flip {
    0%   {transform: rotate(0deg); }
    100% {transform: rotate(30deg); }
}

#spark1{
    left: 70px;
    bottom: 300px;
    height: 80px;
    width: 80px;
}

#spark2{
    left: 870px;
    bottom: 200px
}

#spark3{
    left: 960px;
    bottom: 200px;
    height: 40px;
    width: 40px;
}

#spark4{
    top: 180px;
    left: 240px;
    height: 50px;
    width: 50px;
}

#spark5{
    top: 80px;
    left: 850px;
    height: 40px;
    width: 40px;
}

/*///GRAPHIC DESIGN PAGE///*/

#gdmenu{
    position: static;
}

.flex-container {
  display: flex;
    justify-content: center;
  flex-wrap: wrap;
}

.flex-container > div {
  margin: 10px;
}

.flex-container img {
    padding-left: 2em;
    max-height: 100%;
    min-height: 30%;
    max-width: 100%;
    min-width: 30%;
}

.menu-title{
    font-size: 3em;
    padding: 0em;
    text-align: right;
    line-height: 50px;
    animation: color 10s alternate;
    -webkit-animation: color 10s alternate;
    text-shadow: 0 0 15px yellow;
}

.bad{
   width: 150px;
    height: 150px;
}

.med{
    width: 200px;
    height: 200px;
}

.best{
    width: 250px;
    height: 250px;
}

@keyframes color {
  0%{color: black}
  60%{color: black}
  65%{color: darkslategray}
  70%{color: black;}
}

@-webkit-keyframes color {
  0%{color: black}
  60%{color: black}
  65%{color: darkslategray}
  70%{color: black;}
}

/*///WILD TYPE PAGE///*/

.wt{
    display: inline-flex;
    max-height: 200px;
}

.clump{
    flex-wrap: wrap;
}

video{
    visibility: visible;
}


/*CRAIGSLIST PAGE*/
.crpage{
    background: white;
    color: mediumblue;
}

.crpage > div {
    color: white;
}

.center{
    margin-left: 550px;
}

#menu-cr{
    font-family: serif;
    font-weight: 100;
    color: blue;
}

.cr-forms-container{
    display: flex;
    position: absolute;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow:scroll;
}

.cr-forms-container > div {
    opacity: 1;
    margin: -30px;
}

.cr-forms-container > div:hover {
    opacity: 1;
}

.container{
    display: flex;
    max-width: 50%;
    top: 20px;
    left: 550px;
    position: relative;
}

.bundle{
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.bundle > div {
    width: 400px;
    height: 500px;
    margin: auto;
}

/*ARTHUR*/
#arthur{
    background-image: url(gdpage/arthur/arthurpaiint.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

