#topnav{
    height: 130px;
    background-color: #1D2439;
}
* {
  box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid-container {
  display: inline-grid;
  grid-template-columns: 60% 30%;
  grid-gap: 30px;
}

.bitchlegging img{
    border: 1px solid black;
}

.bitchlegging{
    margin-bottom: 30px;
}

.bitchlegging:hover{
    cursor: pointer;
}

#banner{
    margin: 20px 8% 20px 180px;
    height: 100px;
    border: 1px solid black;
}

.intro{
    height: 400px;
    background-color: white;
    margin: 20px 0 30px;
}

img{
    max-width: 100%;
}

html{
    background-color: #eee;
}

h1{
    color: blue;
    font-family: 'Lora', serif;
    font-weight: bold;
    
}
h3{
    background-color: yellow;
        margin: 4% 4% 2%;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 10pt;
}

p{
    padding: 4%;
    font-family: 'Source Sans Pro', sans-serif;
}

#myInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 60%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin: 0 180px;
}

#myUL {
  list-style-type: none;
  padding: 0;
  margin: 2% 0 2% 180px;
}

#myUL li{
    border: 1px solid black;
    background-color: white;
    margin-bottom: 5%;
}

#myUL li a {

      padding: 4%;
  text-decoration: none;
  font-size: 18px;
  color: black;
  display: block
}

#myUL li a:hover:not(.header) {
  cursor: pointer;
}

.header{
    display: flex;
}

.header img{
    height: 20px;
    width: inherit;
    margin-top: 5%;
    padding-right: 15px;
}

.footer{
    height: 65px;
    background-color: yellow;
    font-weight: bold;
}

.footer:hover{
    cursor: pointer;
}

.highlight{
    background-color: black;
    color: yellow;
    padding: 3px 5px;
}

.underline{
    text-decoration: underline;
}

.tooltip {
  position: relative;
  display: inline;
  color: blue;
    font-weight: bold;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: blue;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
    position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip:hover {
    cursor: pointer;
}