.image{
    display: inline-block;
    width: 500px;
    height: 800px;
    background-color: white;
}

.image img{
    max-height: 100%;
    width: inherit;
}

.flex-container{
    display: flex;
    margin: 0% 9%;
}

#inputface{
    height: 300px;
    width: 400px;
    overflow: hidden;
    border-radius: 100%;
    margin-top: 130px;
}

#btns{
    margin-top: 6%;
}

p{
    margin: 0;
    padding-right: 10px;
}