
@charset "UTF-8";

/* CSS Document */

/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Layout */
#main-form {
  float: left;
  width: 600px;
  margin-left: 30px;
  padding-top: 0px;
}
#printout {
  float: right;
  width: 400px;
  height: 700px;
  padding: 8% 4%;
  margin-right: 50px;
  margin-top: 0px;
  background-image: url(1x/text.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#sticker{
    position: absolute;
    height: 700px;
    width: 400px;
    right: 500px;
}

#sticker img{
    max-width: 100%;
}

#printout p {
    padding-top: 1%;
    color: black;
}

p{
  font-family: 'Arial';
    font-size: 11pt;
}

form {
  font-family: 'Montserrat', sans-serif;
  color: #444;
    font-size: .9em;
}

form div {
  padding-top: 15px;
}

input[type=text] {
  background-color: white;
  border: none;
  border-bottom: 2px solid pink;
  width: 150px;
  margin-left: 5px;
  transition: 1s border-bottom;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #444;
  text-decoration: none;
}

.radio {
    padding-left: 50px;
    max-width: 300px;
}

h1 {
  font-size: 75px;
  text-align: center;
  padding-top: 20px;
  width: 800px;
  margin: 0 auto;
  color: #444;
}

h2{
    font-size: 40px;
    font-weight: 100;
    color: #444;
}

h3{
    font-weight: 100;
    font-size: 12pt;
    padding-top: 10px;
}

a{
    text-decoration-color: red;
    text-decoration-style: dotted;
    color: #444;
}

.flex-container{
    display: flex;
}




.flex-container div{
    width: 25%;
    cursor: pointer;
}


.marquee {
  height: 25px;
  overflow: hidden;
  position: relative;
}

.marquee div {
  display: block;
  width: 200%;
  height: 30px;

  position: absolute;
  overflow: hidden;

  animation: marquee 20s linear infinite;
}

.marquee span {
  float: left;
  width: 50%;
}

@keyframes marquee {
  0% { left: 0; }
  100% { left: -100%; }
}

