html{
    color: #585858;
}

h1{
    font-size: 24pt;
    font-family: 'Arial';
    font-weight: bold;
    color: #999999;
}

h2{
    font-size: 20pt;
    font-family: 'Arial';
    font-weight: lighter;
    width: 340px;
    margin: auto;
}

#nothing{
    border-top: 1px solid #cccccc;
    padding: 5%;
    letter-spacing: .4pt;
}

.title{
    display: inline-block;
}

.title a{
    text-decoration: none;
    color: #6d6d6d
}

.title a:hover{
    color: #6d6d6d;
}

.topnav{
    display: flex;
}

#myInput{
    border: none;
    font-size: 17pt;
    font-weight: 300;
}

#title-container{
    line-height: 0.5;
    margin-left: 2.8%;
    margin-bottom: 6%;
}

.grid-container{
    width: 95%;
}

li img{
    max-height: 100%;
    width: inherit;
}

ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

li{
    width: 320px;
    height: 320px;
    border: 1px solid #6d6d6d;
    list-style-type: none;
}

li:hover{
    border: 2px solid #6d6d6d;
}